/* Schwab Background Styles */
#cove-bg {
    background-color: var(--cove-bg);
}

#cove-left-svg {
    transform: translateX(-250px);
}

#cove-panel-right {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#cove-panel-right img {
    max-width: 50%;
    transform: translateX(50px);
}

#cove-geo-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, 50%);
}

#cove-geo-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -180%) scale(-1, -1);
}
