/* Schwab Background Styles */
#cove-bg {
  background-color: var(--cove-bg);
}

#cove-panel-left {
  position: relative;
  width: 100%;
  height: 100%;
}

#cove-geo-1 {
  position: absolute;
  height: 100%;
  width: auto;
  top: 50%;
  right: var(--spacing-md);
  transform: translateY(-50%);
  /* border: 2px solid purple; */
}

#cove-panel-right {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  /* border: 2px solid green; */
}

/* #cove-panel-right img {
    max-width: 50%;
    transform: translateX(50px);
} */

#cove-iphone-frames {
  position: relative;
  display: flex;
  z-index: 10;
  padding: 0 20px;
}

#cove-iphone-frames img {
  max-width: 60%;
}

#cove-geo-2 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  /* transform: scale(1.5, 1.5) */
}

#cove-geo-3 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transform: scale(-1, -1);
}

#cove-geo-4 {
  position: absolute;
  bottom: 0;
  left: 10%;
  z-index: 1;
  rotate: 193deg;
  transform: scale(2.2, 2.2);
}
