/* Schwab Background Styles */
#schwab-bg {
    background-color: var(--schwab-bg);
}

.grid-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    /* background-color: aqua; */
}

.grid-svg {
    width: 100%;
    height: 100%;
}

.grid-square {
    /* cursor: pointer; */
    transform-origin: center;
}

/* Schwab Panel Styles */

#schwab-panel-left {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
}

#schwab-panel-left svg {
    width: 100%;
    height: 100%;
    /* display: block; */
    /* border: 2px solid blue; */
}

#line-path {
    stroke: gray;
    stroke-width: 2;
    fill: none;
}

#path-segment {
    stroke: #ffffff;
    stroke-width: 2;
    fill: none;
    mask: url(#mask1);
    /* filter: drop-shadow(0 0 4px blue) drop-shadow(0 0 8px rgba(0, 123, 255, 0.6)); */
}

#schwab-panel-right {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 2px solid purple;
}

#schwab-panel-right img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
}
