#schwapp-bg {
    background-color: var(--schwapp-bg);
}

#schwapp-panel-right {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: left;
    align-items: center;
    /* border: 2px dotted purple; */
}

#schwapp-iphone-frames {
    position: relative;
    display: flex;
    z-index: 10;
    padding: 0 20px;
    width: 100%;
}

#schwapp-panel-right img:nth-child(1) {
    max-width: 60%;
    object-fit: contain;
    position: relative;
    z-index: 20;
    /* Offset from center - adjust values as needed */
    transform: translateX(0) translateY(50px);
}

#schwapp-panel-right img:nth-child(2) {
    max-width: 60%;
    object-fit: contain;
    position: relative;
    z-index: 10;
    /* Offset from center - adjust values as needed */
    transform: translateX(-100px) translateY(-50px);
}

#schwapp-geo-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#schwapp-geo-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(-1);
}


