#schwapp-bg {
    background-color: var(--schwapp-bg);
}

#schwapp-panel-right {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: left;
    align-items: center;
}

#schwapp-panel-right img:nth-child(1) {
    max-width: 50%;
    object-fit: contain;
    position: relative;
    z-index: 20;
    /* Offset from center - adjust values as needed */
    transform: translateX(50px) translateY(50px);
}

#schwapp-panel-right img:nth-child(2) {
    max-width: 50%;
    object-fit: contain;
    position: relative;
    z-index: 10;
    /* Offset from center - adjust values as needed */
    transform: translateX(0) translateY(-50px);
}
